@import 'src/styles/variables';

.pager {

    &-wrapper {
        padding-top: 1rem;
        text-align: center;
        margin: 2rem 0.5rem;
    }

    &-item {
        font-size: $font-size-xl;
        margin: 0;

        &.is-disabled {
            opacity: 0;
            pointer-events: none;
        }

        &--navigable {
            cursor: pointer;
            border: 2px solid $color-primary;
            padding: 0.5rem 1rem;
            display: inline-block;

            &:hover {
                color: $color-secondary;
            }
        }
    }
}